version: '3.8'

networks:
  monitoring-net:
    driver: bridge

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitoring-net
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana-config/provisioning:/etc/grafana/provisioning
      - ./grafana-config/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana-config/grafana.ini:/etc/grafana/grafana.ini
    depends_on:
      - prometheus
    networks:
      - monitoring-net

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest 
    container_name: cadvisor
    privileged: true
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - monitoring-net
    command:
      - '--docker_only'
      - '--store_container_labels=false'

  monitoring_ui:
    build:
      context: ./flask_app
    container_name: monitoring_ui
    ports:
      - "5000:5000"
    depends_on:
      - grafana
    networks:
      - monitoring-net

  test_app:
    build:
      context: ./sample-apps/flask-test-app
    container_name: test-app
    ports:
      - "5001:5000"
    networks:
      - monitoring-net